table {
  width: 100%;
}

td, th {
  width: 25%;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;

  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

.cep-card {
  height: 3rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
}

.filter-card {
  height: 15rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}

.filterRow {
}

.table-container {
  width: 80%;

  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

